.destination-footer {
  display: flex;
  flex-wrap: wrap;
  /* font-family: "Asap Condensed", sans-serif; */
  /* background-color: lightcoral; */
  /* width: 75%; */
  margin-left: 12.25%;
  padding-top: 20px;
}
.destination-footer-container {
  width: 25%;
  line-height: 2;
  letter-spacing: 1.5px;
  min-width: 200px;
}
ul li {
  list-style-type: none;
  font-size: 14px;
}
li a:hover {
  text-decoration: none;
}
.icons > div {
  margin-right: 2%;
}
ul {
  padding-left: 0%;
}

/* @media only screen and (max-width: 540px) {
  .outer-container-footer{
    height: 490px !important;
  }
} */