.text-white{
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
  margin-bottom: 20px;
}
.text-white:hover{
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: 10px 15px 15px rgba(1.4,1.4,1.4,1.4);
}
@media only screen and (max-width: 540px) {
  .home-header{
    margin-top:13% !important;
  }
}
@media only screen and (min-width: 540px) {
  .home-header{
    margin-top:3% !important;
  }
}
@media only screen and (max-width: 540px) {
    .input-of-home{
      width: 100% !important;
      margin-left:  0% !important;
    }
  }
.destination-options li{
  list-style: none;
  padding: 5px 12px;
  cursor: default;
  text-align: left;
  font-size: 16px;
  color:white;
  background-color: #4285F4;
}
.destination-options li:hover{
  background: skyblue;
}